BeautifulSoup==3.2.1
Django==1.8.5
Pillow==2.7.0
Unidecode==0.04.18
argparse==1.3.0
beautifulsoup4==4.3.2
boto==2.36.0
click==5.1
csscompressor==0.9.3
distribute==0.6.38
dj-database-url==0.1.2
django-ace==1.0.2
django-appconf==1.0.1
django-batch-uploader==0.11
-e git+https://github.com/ninapavlich/django-carbon.git@a06fe5e77fea6fc5150fc5a9045046a7bf69b0b6#egg=django_carbon-dev
django-ckeditor==5.0.2
django-ckeditor-improved==1.2.3
django-debug-toolbar==1.4
django-extensions==1.5.0
django-extra-views==0.6.5
django-grappelli==2.7.1
django-heroku-memcacheify==0.8
django-heroku-postgresify==0.3
django-herokuify==1.0.pre3
django-htmlmin==0.7.0
django-imagekit==3.2.7
django-imagekit-cropper==1.9
django-inline-wrestler==4.4
django-localflavor==1.1
django-object-actions==0.5.1
django-redis-cache==1.6.3
django-reversion==1.8.7
django-robots==1.1
django-rq==0.8.0
django-storages==1.1.8
django-unsaved-changes==0.9
gunicorn==19.2.1
html5lib==1.0b3
httplib2==0.9.1
libsass==0.7.0
newrelic==2.44.0.36
pilkit==1.1.13
ply==3.4
psycopg2==2.5.4
pyparsing==2.0.3
redis==2.10.5
rq==0.5.6
scss==0.8.73
six==1.10.0
slimit==0.8.1
sqlparse==0.1.16
wsgiref==0.1.2
